html,
body {height: 100%;
font-size: 1rem;
font-family: 'Montserrat', sans-serif;
}

.gradient {
    background: rgb(92,79,86);
    background: linear-gradient
    (159deg, rgba(92,79,86,1) 0%, rgba(92,79,86,1) 98%
    
    );
}
.page-header {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: white;
}
